
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type="text/css" href="../../css/common.css" rel="stylesheet"/>
    <link type="text/css" href="../../css/header.css" rel="stylesheet"/>
    <script type="text/javascript" src="../../libs/jquery-1.12.3.min.js"></script>
    <title>内网头部</title>
</head>
<body>
    <div class="header">
        <!-- <div class="header-left fl">
            <div class="header-left-logo"><img src="../../imgs/top_logo_02.jpg"></div>
            <div class="header-left-cityname">
                <p>
                    蓝海市公租房<br>
                    管理信息系统
                </p>
            </div>
        </div>
        <div class="header-right fl">
            <ul class="header-right-biz fl">
                <li>业务办理</li>
                <li>住房保障</li>
                <li>系统管理</li>
                <li>个人办公</li>
            </ul>

            <ul class="header-right-login fr">
                <li>欢迎<span>管理员</span></li>
                <li>设置</li>
                <li>退出</li>
            </ul> -->
           
        </div>
        <div class="clearboth"></div>
    </div>

    <div class="hedi">
            <div class="hedi2"></div>
    </div>
    <div class="scrollbar fgline">
        <p>dfa</p>
        <p>dfa</p>
        <p>dfa</p> 
    </div>
    <div class="fgline1 aline"></div>
    <button class="h-btn2 h-blue-btn">dfdasff</button>
    <div name="age" id="kk" ></div>
</body>
<script>
    var ids = document.getElementById("kk");
    console.log(ids.getAttribute("name")) 
</script>
</html>